[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/rpi-rgb-led-matrix"]
	path = lib/rpi-rgb-led-matrix
	url = git@github.com:hzeller/rpi-rgb-led-matrix.git
